---
// ContattiQualificati.astro
---
<!-- <script src="https://js-eu1.hsforms.net/forms/embed/144459046.js" defer></script>
<div class="hs-form-frame" data-region="eu1" data-form-id="1ae9d821-ba2e-4028-b643-a5b222c50d17" data-portal-id="144459046"></div> -->

<!-- <div class="contact-container">
  <div class="form-header">
    <h2>Iniziamo un dialogo</h2>
    <p>
      Ogni grande progetto nasce da una conversazione. Che tu abbia una curiosità sulle mie opere, 
      un’idea da sviluppare insieme o desideri semplicemente visitare lo studio, scrivimi qui. 
      Sarà un piacere risponderti personalmente.
      <div class="sottotitolo">Se stai cercando qualcosa di specifico, puoi andare direttamente alle form dedicate:<br>

<strong>Sessioni fotografiche:</strong><a href="/prenotazioni/sessione-fotografica/">Vai alla form delle sessioni</a> <br><strong>Stampe / edizioni:</strong>
<a href="/prenotazioni/edizioni-fotografiche/">Vai alla form delle stampe</div>
    </p>
  </div>
</div> -->
<div class="contact-container">
  <div class="hubspot-inject-area">
    <script src="https://js-eu1.hsforms.net/forms/embed/144459046.js" defer></script>
    <div 
      class="hs-form-frame" 
      data-region="eu1" 
      data-form-id="1ae9d821-ba2e-4028-b643-a5b222c50d17" 
      data-portal-id="144459046"
    ></div>
  </div>
  </div>


<style is:global>
  /* Usiamo lo stesso stile elegante dell'Atelier */
  .contact-container {
    max-width: auto;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
  }

  .form-header {
    text-align: center;
    margin-bottom: 3rem;
  }

  .form-header h2 {
    font-family: "Newsreader", Serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    color: #1a1a1a;
    font-weight:400;
  }

  .form-header p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #444;
    max-width: 550px;
    margin: 0 auto;
    font-style: italic; /* Un tocco più intimo per i contatti */
  }

  .form-header .sottotitolo {
    font-size: 0.8rem;
    line-height: 1.7;
    color: #444;
    max-width: 550px;
    margin: 0 auto;
    margin-top:1rem;
    font-style: italic; /* Un tocco più intimo per i contatti */
  }

  /* HubSpot fix */
  .hs-form-frame {
    margin-top: 2rem;
  }
</style>