---
// ContattiQualificati.astro
---
<div class="contact-container">
  <div class="hubspot-inject-area">
    <script src="https://js-eu1.hsforms.net/forms/embed/144459046.js" defer></script>
    <div 
      class="hs-form-frame" 
      data-region="eu1" 
      data-form-id="1ae9d821-ba2e-4028-b643-a5b222c50d17" 
      data-portal-id="144459046"
    ></div>
  </div>
  </div>


<style is:global>
  .contact-container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding-inline: 1rem;
    overflow-x: hidden;
  }

  .hubspot-inject-area {
    width: 100%;
    min-height: 760px;
    overflow-x: hidden;
  }

  .hs-form-frame {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .hs-form-frame iframe {
    width: 100% !important;
    max-width: 100% !important;
  }
</style>