# Dipendenze
node_modules/

# Build
dist/
.output/
.astro/
.vercel/

# Draft
src/_drafts/

# Environment
.env
.env.*

# macOS
.DS_Store
src/.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*.DS_Store
