# Dipendenze
node_modules/

# Cartelle di Build e Output
dist/
.output/

# Cache e Interni di Astro
.astro/

# Bozzetti e Draft locali
src/_drafts/

# File di Configurazione e Variabili d'Ambiente SENSITIVE (Mai online)
.env
.env.*

# File di Sistema macOS
.DS_Store

# Log di Errore dei Pacchetti
npm-debug.log*
yarn-debug.log*
yarn-error.log