---
// Fundations
import BaseLayout from "@/layouts/MioLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import GalleryEntry3 from "@/components/gallery/GalleryEntry3.astro";
// Content
const allGallery = await getCollection("gallery");
---

<BaseLayout>
 
  
  <section>
    
    <Wrapper variant="gallery" class="py-2">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {allGallery.map((post) => <GalleryEntry3 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
