@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@theme {
  /* Typography */
  --font-serif: "Newsreader", serif;
  --font-sans: "Source Sans 3", sans-serif;

  /* Colors */
  /* Page Accents */
  --color-gallery-1: #dedad0;
  --color-gallery-2: #3f7996;
  --color-gallery-3: #dcc679;
  --color-gallery-4: #d2cdc7;
  --color-gallery-5: #b0875d;
  --color-gallery-6: #f2ede3;
  /* Accent */
  --color-accent-50: oklch(92.98% 0.035 285.7);
  --color-accent-100: oklch(86.22% 0.07 284.83);
  --color-accent-200: oklch(72.58% 0.146 282.13);
  --color-accent-300: oklch(59.81% 0.221 277.36);
  --color-accent-400: oklch(49.73% 0.283 269.85);
  --color-accent-500: oklch(45.2% 0.313 264.05);
  --color-accent-600: oklch(38.21% 0.265 264.05);
  --color-accent-700: oklch(30.87% 0.214 264.05);
  --color-accent-800: oklch(23.07% 0.16 264.05);
  --color-accent-900: oklch(14.51% 0.101 264.05);
  --color-accent-950: oklch(9.65% 0.067 264.05);
  /* Base */
  --color-white: #ffffff;
  --color-surface-100: #f5f5f4;   /* grigio chiarissimo */
  --color-surface-200: #dedad0;   /* questo */
  --color-surface-300: #d6d3d1;   /* leggermente più scuro */
  --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-600: oklch(0.439 0 0);
  --color-base-700: oklch(0.371 0 0);
  --color-base-800: oklch(0.269 0 0);
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
}
body {
  font-family: var(--font-sans);
}

h1
{
  font-family: var(--font-serif);
}

p,
li,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: var(--font-sans);
}

.prose {
  font-family: var(--font-sans);
}

.prose p,
.prose li,
.prose blockquote {
  font-family: var(--font-sans);
}

.prose h1
{
  font-family: var(--font-serif);
}



.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: var(--font-sans);
}

.wp-caption {
  margin: 3rem auto;
  text-align: center;
}

.wp-caption img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.wp-caption figcaption {
  margin-top: 0.75rem;
  font-size: 0.95rem;
  font-style: italic;
  color: #64748b;
  line-height: 1.4;
}

.post-content {
  text-align: left !important;
}

.post-content p,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content li,
.post-content blockquote {
  text-align: left !important;
}

.post-content .wp-caption,
.post-content .wp-caption figcaption {
  text-align: center !important;
}

.landing-content h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.landing-content h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.landing-content p {
  font-size: 1.1rem;
  font-family: var(--font-sans);
}
.site-title {
  font-family: var(--font-sans);
  font-weight: 900;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color:black;
}