---
// components/cta/TobBar>Home.astro
---

<div class="top-bar">
  <div class="container">
    <a href="/" class="cta-formazione pl-12">Elio Leonardo Carchidi →</a>
  </div>
</div>

<style>
  .top-bar {
    background: #333;
    color: white;
    font-size: 0.8rem;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
  }
  .cta-formazione {
    font-weight: bold;
    color: #888; /* Un colore che stacca */
    text-decoration: none;
    
  }
</style>