---
// components/cta/TobBar>Formazione.astro

---

<div class="top-bar">
  <div class="container">
    <a href="/formazione-fotografica" class="cta-formazione pl-12">Vai all'Area Formazione →</a>
  </div>
</div>

<style>
  .top-bar {
    background: #111;
    color: white;
    font-size: 0.8rem;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .cta-formazione {
    font-weight: bold;
    color: #ffcc00; /* Un colore che stacca */
    text-decoration: none;
    
  }
</style>