---
// Fundations
import BaseLayout from "@/layouts/BlogPostLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ContattiQualificati from "@/components/hubspot-form/ContattiQualificati.astro";
import BlogEntry from "@/components/blog/BlogEntry1.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout hideBigLogo={true}>
  <section class="py-2">
    <Wrapper variant="standard" class="py-2">
    

      <section>
    <Wrapper variant="prose" class="p-6 sm:p-2 m-auto max-w-l">
      <ContattiQualificati />
    </Wrapper>
  </section>
    </Wrapper>
  </section>
</BaseLayout>
