---
import BaseLayout from "@/layouts/LayoutContatti.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import { AstroSeo } from "@astrolib/seo";
import ContattiQualificati from "@/components/hubspot-form/ContattiQualificati.astro";

---

<AstroSeo
  title="Contatti | Elio Leonardo Carchidi - Fotografo di Ritratto"
  description="Ogni grande progetto nasce da una conversazione. Scrivimi qui: sarà un piacere risponderti personalmente e pianificare il tuo ritratto su misura."
  canonical="https://www.eliocarchidi.com/contatti/"
  openGraph={{
    url: "https://www.eliocarchidi.com/contatti/",
    title: "Contatti | Elio Leonardo Carchidi - Fotografo di Ritratto",
    description: "Ogni grande progetto nasce da una conversazione. Scrivimi qui: sarà un piacere risponderti personalmente e pianificare il tuo ritratto su misura.",
    images: [
      {
        url: "https://www.eliocarchidi.com/og-image-contatti.jpg",
        width: 1200,
        height: 630,
        alt: "Modulo contatti per Elio Leonardo Carchidi",
        type: "image/jpeg",
      },
    ],
    site_name: "Elio Leonardo Carchidi - Contatti",
    type: "website",
    locale: "it_IT",
  }}
  twitter={{
    handle: "@eliocarchidi",
    site: "@eliocarchidi",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  
  <section>
    <Wrapper class="p-6 sm:p-2 m-auto max-w-l">
      <ContattiQualificati />
    </Wrapper>
  </section>
  

</BaseLayout>