---
import BaseLayout from "@/layouts/LayoutCorso.astro";
import Wrapper from "@/components/fundations/containers/Wrapper-1040.astro";
import ContattiQualificati from "@/components/hubspot-form/ContattiQualificati.astro";

const pageTitle = "Formazione Fotografica | Contatti | Elio Leonardo Carchidi";
const pageDescription =
  "Ogni grande progetto nasce da una conversazione. Scrivimi qui: sarà un piacere risponderti personalmente e pianificare la tua formazione fotografica su misura.";
const canonical = "https://www.eliocarchidi.com/contatti-formazione/";
const image = "https://www.eliocarchidi.com/og-image-contatti.jpg";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  canonical={canonical}
  image={image}
>
  <section>
    <Wrapper variant="standard" class="p-6 sm:p-2 m-auto max-w-l">
      <ContattiQualificati />
    </Wrapper>
  </section>
</BaseLayout>