---
import "../styles/html.css";
import { AstroSeo } from "@astrolib/seo";
---

<html lang="it">
<head>
  <meta charset="UTF-8" />
  <AstroSeo
  title="Titolo della pagina"
  description="A detailed description of your page content."
  canonical="https://yourwebsite.com/current-page"
  openGraph={{
    url: "https://yourwebsite.com/current-page",
    title: "Your Page Title",
    description: "A detailed description of your page content.",
    images: [
      {
        url: "https://yourwebsite.com/og-image.jpg",
        width: 1200,
        height: 630,
        alt: "Open Graph Image Alt",
        type: "image/jpeg",
      },
    ],
    site_name: "Your Site Name",
    type: "website",
    locale: "en_US",
  }}
  twitter={{
    handle: "@yourhandle",
    site: "@yourwebsite",
    cardType: "summary_large_image",
  }}
/>
  <title>Pagina Tailwind</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-300 text-gray-800 p-8 w-full mx-0">
    <section id="hero" class="bg-white w-400 m-auto p-15 shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-red-600">Ciao Tailwind!</h1>
  <p class="mt-4">Ora funziona tutto anche in Astro.</p>
  <div class="grid grid-cols-3 gap-4">
    <div class="bg-black">01</div>
    <div class="bg-black">02</div>
    <div class="bg-black">03</div>
    <div class="col-span-1 bg-black">04</div>
    <div class="...">05</div>
    <div class="...">06</div>
    <div class="col-span-1 bg-black">07</div>
    <div class="col-span-1 bg-black">04</div>
    <div class="col-span-1 bg-black">04</div>
  </div>
</section>
</body>
</html>
