---
// Assets
// Fundations
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/NavigazioneHamburger.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Favicons from "../components/fundations/head/Favicons.astro";
---

<html lang="it" class="scroll-smooth">
  <head>
    <Favicons />
    <BaseHead />
  </head>

  <body class="flex flex-col bg-base-100 min-h-svh">
   
    <Wrapper variant="standard" class="pt-4">
      <Navigation />
    </Wrapper>

    <div
      class="items-start pt-2 pb-6 lg:pb-6 text-center uppercase
      gap-4 lg:gap-6 lg:gap-y-6 mb-10 md:mb-10"
    >
    </div>
    <Text
      tag="h1"
      variant="textLG"
      class="font-serif uppercase lg:order-none text-base-900 text-center"
      ><a class="hover:text-base-900 text-gallery-5" href="/"
        >Elio Leonardo Carchidi - Fotografo di Ritratto</a
      ><br />
    </Text>

    <div
      class="items-start pt-2 pb-2 lg:pb-6 text-center uppercase grid grid-cols-1
      gap-4 lg:gap-6 lg:gap-y-6 mb-4 max-w-2xl m-auto"
    >
      <Text
        tag="h1"
        variant="textLG"
        class="order-last font-serif uppercase lg:order-none col-span-full lg:col-span-1: text-base-900"
      >
        Ogni grande progetto nasce da una conversazione. Scrivimi qui: sarà un
        piacere risponderti personalmente e pianificare insieme il tuo ritratto
        su misura.
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="order-last font-serif uppercase lg:order-none col-span-full lg:col-span-1: text-base-900"
      >
      Per ricevere risposte più dettagliate, per piacere, compila la form.
        <br >Puoi anche inviare una mail o un messaggio<br >
        <strong>mail:</strong> info@eliocarchidi.com - <strong>WhatsApp:</strong> +39 388 3232460
      </Text>
    </div>

    <main class="grow"><slot /></main>

    <Footer />
  </body>
</html>
