---
// Assets
import BigLogo from "@/components/assets/LogoAtelier.astro";
import TopBarFormazione from "../components/cta/TopBarFormazione.astro";
// Fundations
import "@/styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/NavigazioneAtelier.astro";
// Hides the big logo, navigation, or footer on selected screens by passing props:
// <BaseLayout hideBigLogo={true} hideNavigation={true} hideFooter={true}>

const { hideBigLogo = false, hideNavigation = false, hideFooter = false } = Astro.props;
import Favicons from '../components/fundations/head/Favicons.astro';
---



<html lang="en" class="scroll-smooth">
  <head>
     <Favicons />
    <BaseHead />
  </head>
  <body class="flex flex-col bg-gallery-6 min-h-svh">
  <TopBarFormazione />
    {
      !hideBigLogo && (
        <Wrapper variant="standard" class="pt-8">
          <BigLogo />
        </Wrapper>
      )
    }
    {!hideNavigation && <Navigation />}
    <main class="grow"><slot /></main>
    {!hideFooter && <Footer />}
  </body>
</html>
