---
// Assets

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Button from "@/components/fundations/elements/Button.astro";
import NavMenu2 from '@/components/global/NavigazioneHamburger.astro';
const currentPath = Astro.url.pathname; // prende la path corrente
---

  <Wrapper variant="standard" >
    
       <div class="pt-2 pb-4 text-center mb-6">
  <NavMenu2 currentPath={currentPath} />
</div>
    <Text
  tag="h1"
  variant="textLG"
  class="font-serif uppercase text-base-900 text-center mb-2"
>
  <a class="hover:text-base-900 text-gallery-5" href="#">
    Servizi e collaborazioni
  </a>
</Text>

    <div class="text-center max-w-2xl mx-auto mb-6 flex flex-col items-center gap-4">

  <Text
    tag="p"
    class="font-serif text-base-900 uppercase tracking-[0.08em]"
  >
    Il mio lavoro nasce dal ritratto fotografico.

    Accanto a questo percorso, esistono collaborazioni e progetti che permettono di affrontare produzioni più ampie o specifiche.
  </Text>

  <Button size="base" variant="default">
    <a class="uppercase" href="/contatti/">
      Richiedi informazioni
    </a>
  </Button>

</div>
  </Wrapper>
</header>
    
</div>
